.inner, .top-nav {
    background-color: #36393f !important;
}

#main-content-wrapper, .core, .content {
    background-color: #32353b !important;
}

body, .top-nav .menu .navigation .link, body {
    color: #cccdd9 !important; 
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #fff !important;
}