.inner, .top-nav {
    background-color: #36393f !important;
}

.top-nav .menu .navigation .link {
    color: #cccdd9 !important;
}

#main-content-wrapper, .core, .content {
    background-color: #32353b !important;
}

body {
    color: #cccdd9 !important;  
}